<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Block Project</title>
</head>
<body style="font-size: 16px">
<p>Hello <b th:text="${fullName}"></b>,</p>
<p>Your project <b th:text="${title}"></b> has been suspended because of these reasons: <b th:text="${reason}"></b>.</p>
<p>If you have any problem, please contact us at <b th:text="${adminEmail}"></b> or click
    <a th:href="${contactSupportLink}" >here</a></p>
<p>Thanks,</p>
<p>F-START support team</p>
</body>
</html>