<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <title>Verify Account</title>
</head>
<body style="font-size: 16px">
<div style="font-weight:500;font-size:16px;line-height:22px">
    Hello <b th:text="${fullName}"></b>,<br><br>
    Welcome to F-START Platform.<br>
    Please click to the below button to verify your email address. <br/>
    <a th:href="${verifyEmail}" style="display:inline-block;background: #5891ED;border-radius: 4px;border:none;padding:12px
       46px;color:#FFFFFF;margin:24px 0">Verify Email</a><br>
    <p>If you have any problem, please contact us at <b th:text="${adminEmail}"></b> or click
        <a th:href="${contactSupportLink}" >here</a></p>
    <p>Thanks,</p>
    <p>F-START support team</p>
</div>
</body>
</html>